
// Theme colour constants.
$mainPageTheme: #2B2B2B;
$pageHeaderColour: #ddd;
$secondPageThem: #f09329;

// Page Content
$pageContentBg: #eeeeee;

// Footer
$pageFooterBg: #2B2B2B;

// Panels
$panelBrdCol: #ccc;

// Theme colour
// Get from colour generator

$themeColour: #2B2B2B;

$clrL1 : #ffffff;

$clrL2 : #e6e6e6;

$clrL3 : #cccccc;

$clrL4 : #b3b3b3;

$clrL5 : #999999;

$clrD1 : #808080;

$clrD2 : #666666;

$clrD3 : #4d4d4d;

$clrD4 : #333333;

$clrD5 : #1a1a1a;


// Light Grey Panel
$panelGryHdrBg: #f6f6f6;

$themeBgLight: #f6f6f6;
$themeColLight: #3e3e3e;
$themeContColLight: #4d4d4d;

$themeBgDark: #3f3f3f;
$themeDarkCol: #f6f6f6;

// Page Colours

$imgClr1: #CFC583;
$imgClr2: #91BF70;
$imgClr3: #02B5CF;
$imgClr4: #F05960;

$ok: #7bb03a;
$close: #EC4646;
$cmdBtn: #ce9f28;



