<div class="panelMenu" id="pMenu" style="display: {{? it.path !== ''}}none{{??}}grid{{?}}">
        <div class="panel">
            <header>
                <a href="./index.html" title="home"><span><h3 class="imgClr3">Προφίλ</h3></span></a>
            </header>
        </div>
        <div class="panel">
            <header>
                <a href="./προϊόντα.html" title="projects"><span><h3 class="imgClr1">Προιόντα</h3></span></a>
            </header>
        </div>
        <div class="panel">
            <header>
                <a href="./σχεδίαση.html" title="skills"><span><h3 class="imgClr2">3D Σχεδίαση</h3></span></a>
            </header>
        </div>
        <div class="panel">
            <header>
                <a href="./συνεργασίες.html" title="about"><span><h3 class="imgClr3">Συνεργασίες</h3></span></a>
            </header>
        </div>
        <div class="panel hideTab">
            <header>
                <a href="/επικοινωνία.html" title="contact"><span><h3 class="imgClr4">Επικοινωνία</h3></span></a>
            </header>
        </div>
    </div>

