<section class="r1c3-444 tablet">

    <div class="panel ltGrey">
        <header>
            <h2>Παραγγελίες</h2>
        </header>
        <div class="body">
            <p>Οι παραγγελίες αποστέλλονται με τα οχήματα της εταιρίας σε σημεία καθορισμένα από τον πελάτη μετά από συνεννόηση με το τμήμα πωλήσεων. Η αποστολή των εμπορευμάτων γίνεται και εκτός Θεσσαλονίκης όταν αυτό είναι απαραίτητο.</p>
        </div>
    </div>

    <div class="panel ltGrey">
        <header>
            <h2>Πληρωμές</h2>
        </header>
        <div class="body">
            <p>Οι πληρωμές γίνονται με ευνοϊκούς για τον πελάτη όρους υποστηρίζοντας την χρησιμοποίηση πιστωτικών και χρεωστικών καρτών όταν η συναλλαγή με μετρητά δεν είναι εφικτή.</p>
        </div>
    </div>

    <div class="panel ltGrey">
        <header>
            <h2>Επιστροφές</h2>
        </header>
        <div class="body">
            <p>Στις περιπτώσεις που εντοπίζονται ελαττωματικά προϊόντα η εταιρία μας καλύπτει τον πελάτη με όσο το δυνατόν συντομότερη αντικατάσταση ή επισκευή του προϊόντος.</p>
        </div>
    </div>

</section>