@import "default/constants";

// Swap import between themes for colours

.clrL1 {
  background-color: $clrL1;
}

.clrL2 {
  background-color: $clrL2;
};

.clrL3 {
  background-color: $clrL3;
}

.clrL4 {
  background-color: $clrL4;
}

.clrL5 {
  background-color: $clrL5;
}

.clrD1 {
  background-color: $clrD1;
  color: #fff;
}

.clrD2 {
  background-color: $clrD2;
  color: #fff;
};

.clrD3 {
  background-color: $clrD3;
  color: #fff;
}

.clrD4 {
  background-color: $clrD4;
  color: #fff;
}

.clrD5 {
  background-color: $clrD5;
  color: #fff;
}