@import "../colours";

// Theme colour constants.
$themeLineColour: $clrD1;
$themeLightGrey: #f6f6f6;

// Page Header
$mainPageTheme: #f6f6f6;
$pageHeaderColour: #000;

// Footer
$pageFooterBg: #444444;
$pageFooterColor: #dddddd;

// Panels
$panelMenuHeaderBg: $themeColour;

// Light Grey
$pnlLtGreyHeaderBg: $themeLightGrey;
$pnlLtGreyHeaderColour: #333333;
$pnlLtGreyBodyBg: #fdfdfd;
$pnlLtGreyBodyColour: #444444;
$pnlLtGreyFooterBg: #575757;
$pnlLtGreyFooterColour: #dddddd;
$panelBrdDefault: #b6b6b6;




$ok: #7bb03a;
$close: #EC4646;
$cmdBtn: #ce9f28;



