
<section class="r1c2-42" style="margin: 0 0 8px 0;">
    {{= it.include("product/sections/parts/imagePanel.html",  { title: it.title, imgSrc: it.imgSrc, imgAlt: it.imgAlt, imgTitle: it.imgTitle, category: it.category } )  }}
<!--    {{= it.include("product/sections/parts/prodOptionsSelection.html", { prodName: it.prodName } ) }}-->
    {{= it.include("product/sections/parts/detailsPanel.html", { bullPoints: it.bullPoints, pileHeight: it.pileHeight, stitchDensity: it.stitchDensity, category: it.category, pdfName: it.pdfName } ) }}
</section>