@import 'buttons';
@import 'table';


button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
.w3-input{padding:8px;display:block;border:1px solid #ccc;width:93%}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}

.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}

.w3-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}

[type=checkbox],[type=radio]{padding:0}
.w3-radio{width:24px;height:24px;position:relative;top:6px;-webkit-appearance: radio !important;}

label{
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 1.3rem;
}

.ipContainer{
  padding:8px;
}